In [18]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import col, sum, avg, year, month, day

In [2]:
spark = SparkSession.builder.appName("spark_tp3").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/23 20:00:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

1. Escreva um programa em Python utilizando o PySpark para ler um arquivo CSV chamado vendas.csv que contém as colunas id_venda, data_venda, produto, quantidade e preco_unitario. O programa deve carregar os dados em um DataFrame do Spark e exibir as primeiras 10 linhas do arquivo.

In [12]:
df_1 = spark.read.csv('vendas.csv',header=True)

df_1.show(10)

+--------+----------+---------+----------+--------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|
+--------+----------+---------+----------+--------------+
|       1|2024-09-09|Produto B|        23|        184.16|
|       2|2024-04-22|Produto F|        38|        473.41|
|       3|2024-04-08|Produto E|        38|        495.86|
|       4|2024-04-07|Produto A|         8|        123.64|
|       5|2024-09-02|Produto D|        83|        334.16|
|       6|2024-09-25|Produto C|        71|         96.78|
|       7|2024-08-09|Produto C|        16|        473.28|
|       8|2025-02-07|Produto G|        48|         429.7|
|       9|2024-10-20|Produto G|        10|        492.97|
|      10|2024-07-08|Produto G|        47|        300.12|
+--------+----------+---------+----------+--------------+
only showing top 10 rows

2. Usando o PySpark, escreva um programa que leia um arquivo CSV chamado vendas.csv, e filtre todas as vendas que ocorreram no mês de Janeiro de 2025. Exiba as primeiras 10 linhas do DataFrame filtrado.

In [13]:
## verificando os tipos das colunas

df_1.printSchema()

root
 |-- id_venda: string (nullable = true)
 |-- data_venda: string (nullable = true)
 |-- produto: string (nullable = true)
 |-- quantidade: string (nullable = true)
 |-- preco_unitario: string (nullable = true)

Como os dados são string, irei pegar pelos 4 primeiros digitos = 2025

In [15]:
## Filtrando os dados de 2025

df_2 = spark.read.csv('vendas.csv',header=True)

df_2025 = df_2.filter(col('data_venda').substr(1,4) == '2025')

df_2025.show(10)

+--------+----------+---------+----------+--------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|
+--------+----------+---------+----------+--------------+
|       8|2025-02-07|Produto G|        48|         429.7|
|      17|2025-01-18|Produto E|        57|         235.0|
|      27|2025-02-22|Produto F|        40|        155.38|
|      28|2025-01-14|Produto A|        51|        233.21|
|      34|2025-03-17|Produto G|        13|        463.92|
|      47|2025-03-18|Produto E|         1|         48.48|
|      54|2025-01-30|Produto A|        87|        338.27|
|      59|2025-03-28|Produto F|        57|        175.72|
|      60|2025-02-08|Produto A|         2|         99.56|
|      65|2025-03-22|Produto B|        50|        386.75|
+--------+----------+---------+----------+--------------+
only showing top 10 rows

3. Escreva um programa em Python utilizando o PySpark para calcular o valor total de vendas de cada produto. O DataFrame vendas.csv possui as colunas produto, quantidade e preco_unitario. O programa deve calcular o valor total para cada produto e exibir o resultado em ordem decrescente de valor total.

In [30]:
## antes de somar as colunas, vou precisar transformar elas 
# pro tipo int e double, pra conseguir efetuar a agregação
df_3 = spark.read.csv('vendas.csv',header=True)

df_3 = df_3.withColumn('quantidade', col('quantidade').cast('int'))
df_3 = df_3.withColumn('preco_unitario', col('preco_unitario').cast('double'))

df_3.show(5)

+--------+----------+---------+----------+--------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|
+--------+----------+---------+----------+--------------+
|       1|2024-09-09|Produto B|        23|        184.16|
|       2|2024-04-22|Produto F|        38|        473.41|
|       3|2024-04-08|Produto E|        38|        495.86|
|       4|2024-04-07|Produto A|         8|        123.64|
|       5|2024-09-02|Produto D|        83|        334.16|
+--------+----------+---------+----------+--------------+
only showing top 5 rows

In [31]:
df_agg = df_3.groupBy('produto').agg(
    sum(col('quantidade')*col('preco_unitario')).alias('total_vendas')).orderBy(col('total_vendas').desc())

df_agg.show()

+---------+--------------------+
|  produto|        total_vendas|
+---------+--------------------+
|Produto D|1.8436860027300012E9|
|Produto F|1.8404994087499998E9|
|Produto B|1.8393801736199982E9|
|Produto E|     1.83761856515E9|
|Produto C|1.8374572282700026E9|
|Produto G|1.8372656499099991E9|
|Produto A| 1.830170649099999E9|
+---------+--------------------+

4. Escreva um programa em Python utilizando o PySpark para ler um arquivo Parquet chamado clientes.parquet, filtrar todos os clientes que residem na cidade "São Paulo", e exibir os 5 primeiros registros.

In [26]:
## sem arquivo clientes.parquet

5. Escreva um programa em Python que, usando o PySpark, agrupe as vendas por produto e calcule o total de vendas e a média de quantidade vendida de cada produto. Exiba o resultado ordenado pela média de quantidade vendida, do maior para o menor.

In [9]:
## como a partir de agora iremos utilizar um unico dataframe, 
# sem a necessidade de leitura novamente, irei criar uma coluna com o valor total de cada venda

df = spark.read.csv('vendas.csv',header=True)

df = df.withColumn("quantidade", col("quantidade").cast("int"))
df = df.withColumn("preco_unitario", col("preco_unitario").cast("double"))
df = df.withColumn("valor_total", col("quantidade") * col("preco_unitario"))

df.show(5)

+--------+----------+---------+----------+--------------+------------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|       valor_total|
+--------+----------+---------+----------+--------------+------------------+
|       1|2024-09-09|Produto B|        23|        184.16|           4235.68|
|       2|2024-04-22|Produto F|        38|        473.41|          17989.58|
|       3|2024-04-08|Produto E|        38|        495.86|          18842.68|
|       4|2024-04-07|Produto A|         8|        123.64|            989.12|
|       5|2024-09-02|Produto D|        83|        334.16|27735.280000000002|
+--------+----------+---------+----------+--------------+------------------+
only showing top 5 rows

In [5]:
df_5 = df.groupBy('produto') \
    .agg(
        sum('valor_total').alias('total_vendas'),
        avg('quantidade').alias('media_quantidade')
        ).orderBy(col('media_quantidade').desc())

df_5.show()

+---------+--------------------+------------------+
|  produto|        total_vendas|  media_quantidade|
+---------+--------------------+------------------+
|Produto A| 1.830170649099999E9| 50.52657795638489|
|Produto C|1.8374572282700026E9| 50.52634419152276|
|Produto B|1.8393801736199982E9| 50.52142712260357|
|Produto D|1.8436860027300012E9|50.493011755338095|
|Produto G|1.8372656499099991E9|50.440146582652055|
|Produto F|1.8404994087499998E9| 50.42841243175136|
|Produto E|     1.83761856515E9| 50.38592699831449|
+---------+--------------------+------------------+

6. Escreva um programa em Python que crie uma UDF (função definida pelo usuário) no PySpark para calcular o valor total de cada venda (quantidade * preco_unitario) e adicione essa coluna ao DataFrame. Exiba as primeiras 10 linhas com a nova coluna.

In [28]:
# funcao aborda desde a multiplicacao do valor, até a criação em uma nova coluna
def add_column_total(dataframe: DataFrame, nome_coluna1: str, nome_coluna2: str, nome_coluna_total: str) -> DataFrame:
    dataframe = dataframe.withColumn(nome_coluna_total, col(nome_coluna1) * col(nome_coluna2))
    return dataframe

In [29]:
df_6 = add_column_total(df, "quantidade", "preco_unitario", "ex6_valor_total")

df_6.show(10)

+--------+----------+---------+----------+--------------+------------------+------------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|       valor_total|   ex6_valor_total|
+--------+----------+---------+----------+--------------+------------------+------------------+
|       1|2024-09-09|Produto B|        23|        184.16|           4235.68|           4235.68|
|       2|2024-04-22|Produto F|        38|        473.41|          17989.58|          17989.58|
|       3|2024-04-08|Produto E|        38|        495.86|          18842.68|          18842.68|
|       4|2024-04-07|Produto A|         8|        123.64|            989.12|            989.12|
|       5|2024-09-02|Produto D|        83|        334.16|27735.280000000002|27735.280000000002|
|       6|2024-09-25|Produto C|        71|         96.78|           6871.38|           6871.38|
|       7|2024-08-09|Produto C|        16|        473.28|           7572.48|           7572.48|
|       8|2025-02-07|Produto G|        48|         429.7|           20625.6|           20625.6|
|       9|2024-10-20|Produto G|        10|        492.97| 4929.700000000001| 4929.700000000001|
|      10|2024-07-08|Produto G|        47|        300.12|          14105.64|          14105.64|
+--------+----------+---------+----------+--------------+------------------+------------------+
only showing top 10 rows

7. Escreva um programa em Python utilizando o PySpark para filtrar todas as vendas realizadas após o dia 1º de Fevereiro de 2025, onde a quantidade vendida foi superior a 10 unidades. Exiba as primeiras 10 linhas do DataFrame filtrado.

In [ ]:
df = df.withColumn('data_venda', col('data_venda').cast('date'))

##usando print schema para confirmar que mudou o tipo para date
print(df.printSchema())

root
 |-- id_venda: string (nullable = true)
 |-- data_venda: date (nullable = true)
 |-- produto: string (nullable = true)
 |-- quantidade: integer (nullable = true)
 |-- preco_unitario: double (nullable = true)
 |-- valor_total: double (nullable = true)

None

In [ ]:
##filtrando dados > 01/02/2025 com mais que 10 unidades

df_7 = df.filter('date(data_venda) >= "2025-02-01" and quantidade > 10')

df_7.show(10)

+--------+----------+---------+----------+--------------+------------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|       valor_total|
+--------+----------+---------+----------+--------------+------------------+
|       8|2025-02-07|Produto G|        48|         429.7|           20625.6|
|      27|2025-02-22|Produto F|        40|        155.38|            6215.2|
|      34|2025-03-17|Produto G|        13|        463.92|           6030.96|
|      59|2025-03-28|Produto F|        57|        175.72|10016.039999999999|
|      65|2025-03-22|Produto B|        50|        386.75|           19337.5|
|      77|2025-03-06|Produto D|        54|        211.43|11417.220000000001|
|      82|2025-02-01|Produto C|        78|        392.68|          30629.04|
|      89|2025-02-15|Produto D|        97|        179.44|          17405.68|
|      90|2025-02-16|Produto A|        64|        191.52|          12257.28|
|      95|2025-03-10|Produto B|        51|        224.82|          11465.82|
+--------+----------+---------+----------+--------------+------------------+
only showing top 10 rows

8. Escreva um programa em Python utilizando o PySpark para ordenar as vendas pelo valor total (quantidade * preço_unitário) em ordem decrescente. Exiba as primeiras 10 linhas do DataFrame ordenado.

In [32]:
df_8 = df.orderBy(col('valor_total').desc())

df_8.show(10)

+--------+----------+---------+----------+--------------+-----------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|valor_total|
+--------+----------+---------+----------+--------------+-----------+
|  351434|2024-02-16|Produto E|       100|         499.9|    49990.0|
|  771838|2024-11-06|Produto C|       100|        499.84|    49984.0|
|  468812|2024-02-26|Produto A|       100|        499.73|    49973.0|
|  917273|2024-10-11|Produto B|       100|        499.67|    49967.0|
|  370230|2024-02-05|Produto D|       100|        499.45|    49945.0|
|  206785|2024-10-25|Produto A|       100|         499.2|    49920.0|
|  662919|2024-09-13|Produto F|       100|        499.14|    49914.0|
|  829676|2024-01-26|Produto F|       100|        499.12|    49912.0|
|  962180|2024-02-23|Produto E|       100|        499.02|    49902.0|
|  777089|2025-01-25|Produto G|       100|        498.94|    49894.0|
+--------+----------+---------+----------+--------------+-----------+
only showing top 10 rows

9. Escreva um programa em Python utilizando o PySpark para substituir os valores nulos na coluna preco_unitario por 0. Exiba as primeiras 10 linhas do DataFrame após o tratamento.

In [ ]:
#contando a quantidade de valores nulos antes da transformação
df_null = df.filter(col("preco_unitario").isNull()).count()

print(f'O total de valores nulos no dataframe é: {df_null}')

O total de valores nulos no dataframe é: 0

Por mais que não tenha valores nulos nessa coluna, irei deixar abaixo um exemplo de como eu faria para poder filtrar os valores nulos nela:

In [39]:
df_9 = df.na.fill({'preco_unitario': 0})

df_9.show(10)

+--------+----------+---------+----------+--------------+------------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|       valor_total|
+--------+----------+---------+----------+--------------+------------------+
|       1|2024-09-09|Produto B|        23|        184.16|           4235.68|
|       2|2024-04-22|Produto F|        38|        473.41|          17989.58|
|       3|2024-04-08|Produto E|        38|        495.86|          18842.68|
|       4|2024-04-07|Produto A|         8|        123.64|            989.12|
|       5|2024-09-02|Produto D|        83|        334.16|27735.280000000002|
|       6|2024-09-25|Produto C|        71|         96.78|           6871.38|
|       7|2024-08-09|Produto C|        16|        473.28|           7572.48|
|       8|2025-02-07|Produto G|        48|         429.7|           20625.6|
|       9|2024-10-20|Produto G|        10|        492.97| 4929.700000000001|
|      10|2024-07-08|Produto G|        47|        300.12|          14105.64|
+--------+----------+---------+----------+--------------+------------------+
only showing top 10 rows

10. Escreva um programa em Python utilizando o PySpark para salvar os dados filtrados de vendas ocorridas após 1º de Janeiro de 2025 em um arquivo Parquet chamado vendas_filtradas.parquet.

In [41]:
df_10 = df.filter('data_venda > "2025-01-01"')

df_10.write.parquet('vendas_filtradas.parquet')

25/03/23 20:37:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/03/23 20:37:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/23 20:37:46 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/03/23 20:37:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/03/23 20:37:47 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

A partir do método acima, pela arquitetura de processamento do Spark, ele dividiu o arquivo em várias partes. \
Abaixo, criarei um arquivo unico com todo o material dentro dele

In [42]:
df_10.coalesce(1).write.parquet('vendas_filtradas_unico.parquet')

In [43]:
## teste se funcionou o save do arquivo

df_parquet_teste = spark.read.parquet('vendas_filtradas_unico.parquet',header=True)

df_parquet_teste.show(10)

+--------+----------+---------+----------+--------------+------------------+
|id_venda|data_venda|  produto|quantidade|preco_unitario|       valor_total|
+--------+----------+---------+----------+--------------+------------------+
|       8|2025-02-07|Produto G|        48|         429.7|           20625.6|
|      17|2025-01-18|Produto E|        57|         235.0|           13395.0|
|      27|2025-02-22|Produto F|        40|        155.38|            6215.2|
|      28|2025-01-14|Produto A|        51|        233.21|11893.710000000001|
|      34|2025-03-17|Produto G|        13|        463.92|           6030.96|
|      47|2025-03-18|Produto E|         1|         48.48|             48.48|
|      54|2025-01-30|Produto A|        87|        338.27|29429.489999999998|
|      59|2025-03-28|Produto F|        57|        175.72|10016.039999999999|
|      60|2025-02-08|Produto A|         2|         99.56|            199.12|
|      65|2025-03-22|Produto B|        50|        386.75|           19337.5|
+--------+----------+---------+----------+--------------+------------------+
only showing top 10 rows

11. Utilizando o arquivo csv: \
Carregue o arquivo em um RDD. \
Filtre todas as vendas realizadas entre os meses 3 e 8 de 2024. \
Calcular o valor total dessas vendas por produto. \
Identifique os 5 produtos com o maior valor total de vendas e exibi-los. \

In [48]:
df_11 = spark.read.csv('vendas.csv', header=True)

df_11 = df_11.withColumn('quantidade',col('quantidade').cast('int'))
df_11 = df_11.withColumn('preco_unitario',col('preco_unitario').cast('double'))
df_11 = df_11.withColumn('data_venda', col('data_venda').cast('date'))

#criando coluna de valor_total
df_11 = df_11.withColumn('valor_total',col('preco_unitario') * col('preco_unitario'))

df_filtered = df_11.filter('data_venda between "2024-03-01" and "2024-08-31"')

df_agg = df_filtered.groupBy('produto') \
                            .agg(sum(col('valor_total')) \
                            .alias('vendas_totais_acumuladas')) \
                            .orderBy(col('vendas_totais_acumuladas').desc())

print('Abaixo, podemos analisar os 5 produtos que mais venderam entre Março e Agosto de 2024:')
df_agg.show(5)

Abaixo, podemos analisar os 5 produtos que mais venderam entre Março e Agosto de 2024:
+---------+------------------------+
|  produto|vendas_totais_acumuladas|
+---------+------------------------+
|Produto G|       4.9354021711506E9|
|Produto D|     4.920936952156597E9|
|Produto F|     4.917284333100503E9|
|Produto A|       4.9008267901676E9|
|Produto E|     4.892630117801302E9|
+---------+------------------------+
only showing top 5 rows